/*
    NotFound Page styles
*/
.img-size {
  margin: auto;
  max-width: 20rem;
}

.not-found-size {
  text-align: center;
}

@media (max-width: 1200px) and (min-width: 767px) {
  .not-found-size {
    min-width: 500px;
  }
}

@media (max-width: 630px) {
  .img-size {
    margin: auto;
    max-width: 20rem;
  }
}

@media (max-width: 390px) {
  .img-size {
    margin: auto;
    max-width: 15rem;
  }
}


/*
    Main Page styles
*/
.main-size {
  text-align: center;
}

@media (max-width: 1200px) and (min-width: 767px) {
  .main-size {
    min-width: 320px;
  }
}


/*
    Vehicles Page styles
*/
.card-size {
  margin: auto;
}

@media (max-width: 1200px) and (min-width: 767px) {
  .card-size {
    min-width: 348px;
    min-height: 321px;
  }
}
