.Card {
  text-align: center;
}

.p {
  font-size: 16px;
}

.card-style {
  color: gray;
}

@media (max-width: 1200px) and (min-width: 767px) {
  .Card {
    min-width: 348px;
    min-height: 321px;
  }
}
