.Card {
  text-align: center;
}

.p {
  font-size: 16px;
}

.card-size {
    max-width: 30rem;
    margin: auto;
}

.card-style {
  color: yellowgreen;
}

@media (max-width: 538px) {
  .card-size {
    max-width: 23rem;
  }
}



